[program:laravel-worker-long-running]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/artisan queue:work redis-long-running --queue=long-running --sleep=3 --tries=1 --timeout=1830
autostart=true
autorestart=true
numprocs=2
user=laradock
redirect_stderr=true
